html{
    background-color: rgba(7, 51, 3, 0.383);
}
header ul{
    display: flex;
    justify-content: flex-end;
}




header a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.7em;


}
header li{
    list-style: none;
    float: right;
   padding:  0.5em 1em;
   display: block;
}